@font-face {
  font-family: "Nunito";
  src: url("Nunito-Regular.ttf") format("truetype"),
    url("Nunito-Bold.ttf") format("truetype"),
    url("Nunito-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
